# Database Configuration
DB_URL=jdbc:postgresql://localhost:5432/issue_tracker
DB_USERNAME=postgres
DB_PASSWORD=

# Email Configuration (Google SMTP)
MAIL_USERNAME=
MAIL_PASSWORD=

# Redis Configuration
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
